
.banner{
    width: 100%;
    height: 300px;
    background-image: url(https://th.bing.com/th/id/OIP.jkN7QadSo9p5-Enztjn9ngHaD4?w=278&h=180&c=7&r=0&o=5&pid=1.7);
    background-size: cover;
    text-align: center;
    
        

}
.banner > h1{
    color: white;
    line-height: 120px;
}
.navegador{
    width:  100%;
    height: 60px;
    background:   #C8D2F4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boton{
    width: 70%;
    height: 60px;
    border: 2px solid #FFf;
    background: #9442FC;

}


body{
    background: rgb(248, 242, 242);
    border: 3px dashed white;
}
p{  color:      rgb(15, 14, 14);

}

h1{ color:      green;
}

h2{ color:      red;
}

h3{ color:      red;
}

li{ color:      rgb(153, 153, 18);
}

ol{  color:     aqua
}